* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #24292e;
  color: #fafbfc;
}
.skeleton-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: pulse 1.5s infinite ease-in-out;
  padding: 1rem;

  .skeleton {
    background-color: #3a4048;
    border-radius: 8px;
  }

  .profile {
    display: flex;
    align-items: center;

    .image {
      width: 5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1rem;

      .skeleton {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .title {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .skeleton:nth-child(1) {
        width: 120px;
        height: 18px;
      }

      .skeleton:nth-child(2) {
        width: 80px;
        height: 14px;
      }
    }
  }
  .bio {
    margin-top: 1rem;

    .skeleton {
      width: 100%;
      height: 40px;
      border-radius: 6px;
    }
  }

  .otherDetails {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;

    .skeleton {
      height: 16px;
      width: 70%;
      border-radius: 4px;
    }
  }

  @keyframes pulse {
    0% {
      background-color: #3a4048;
    }
    50% {
      background-color: #484e57;
    }
    100% {
      background-color: #3a4048;
    }
  }
}
#sideNav {
  position: fixed;
  top: 0;
  right: -100%;
  width: fit-content;
  height: 100vh;
  background-color: #fafbfc39;
  backdrop-filter: blur(10px);
  color: #fafbfc;
  z-index: 100;
  transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);

  #side-nav {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: right;

    #closeSideNav {
      position: relative;
      padding: 1rem 0;
      .bar1 {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(45deg);
        width: 2rem;
        height: 1px;
        background-color: #fff;
      }
      .bar2 {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(-45deg);
        width: 2rem;
        height: 1px;
        background-color: #fff;
      }
    }

    p {
      font-weight: 900;
      font-size: 1.6rem;
      text-transform: uppercase;
      -webkit-text-stroke: 1px #24292e;
    }
  }
}
.userNotFound {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fafbfc;
  color: #24292e;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  transition: 0.5s all ease-in-out;
}
.breaker {
  width: 100%;
  height: 2px;
  background-color: #fafbfc1e;
}
main {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  position: relative;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;

    .logo {
      h1 {
        font-size: 1.2rem;
      }
    }
    .nav-links {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      a {
        color: #fafbfc;
        font-weight: 500;
        font-size: 1.05rem;
        text-transform: uppercase;
        display: none;
      }
      .side {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        .bar {
          width: 1.5rem;
          height: 0.5px;
          background-color: #fafbfc;
        }
        &:nth-child(2) {
          .bar:nth-child(2) {
            height: 1.4px;
          }
        }
        .bar:nth-child(3) {
          height: 2px;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 0.8rem;

    h2 {
      font-size: 2.25rem;
      text-align: center;
      line-height: none;
      letter-spacing: 1.5px;
    }
    .input {
      width: 100%;

      input {
        width: inherit;
        padding: 0.7rem;
        color: white;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        font-size: 1rem;
      }
    }
    .button {
      width: 100%;
      display: flex;
      justify-content: end;
      padding-bottom: 3rem;

      input {
        padding: 0.6rem 1.5rem;
        font-size: 1.2rem;
        background-color: royalblue;
        color: #fafbfc;
        font-weight: 600;
        border: none;
        border-radius: 5px;

        &:active {
          scale: 0.9;
        }
      }
    }

    .userCard {
      width: 100%;
      height: 100%;
      background-color: #2b3137;
      border-radius: 10px;
      border: 2px solid #fafbfc1e;

      .card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .profile {
          display: flex;
          //   justify-content: space-between;
          align-items: center;
          padding: 1rem;

          .image {
            width: 5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
              border: 2px solid white;
            }
          }
          .title {
            // width: 80%;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            padding: 0 1.2rem;
            overflow: hidden;

            h4 {
              font-size: 1.2rem;
            }
            p {
              color: #fafbfc6a;
              font-size: 0.9rem;
              width: 100%;
            }
          }
        }
        .bio {
          padding: 0 1rem 1rem 1rem;
          p {
            font-size: 1rem;
            letter-spacing: 0.5px;
          }
        }
        .otherDetails {
          padding: 1rem;
          display: grid;
          gap: 0.8rem;
          grid-template-columns: repeat(2, 1fr);

          h4 {
            font-size: 1.1rem;

            span {
              color: #fafbfc9d;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  p {
    span {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}

@media (min-width: 700px) {
  nav {
    @at-root main {
      nav {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1.5rem;

        .logo {
          h1 {
            font-size: 2.5rem;
          }
        }
        .nav-links {
          a {
            display: block;
            font-size: 1rem;
          }
          .bar {
            display: none;
          }
        }
      }

      .container {
        gap: 1rem;
        width: 65%;
        margin: 0 auto;

        h2 {
          font-size: 3rem;
        }
        .input {
          display: flex;
          justify-content: center;

          input {
            padding: 0.8rem;
            font-size: 1.2rem;
          }
        }
        .button {
          input {
            padding: 0.8rem 1.8rem;
            font-size: 1.3rem;
          }
        }

        .userCard {
          .card {
            .profile {
              .image {
                width: 5rem;
                aspect-ratio: 1/1;
                border-radius: 50%;

                img {
                  width: 100%;
                  aspect-ratio: 1/1;
                  border-radius: 50%;
                  border: 2px solid white;
                }
              }
              .title {
                h4 {
                  font-size: 1.38rem;
                }
                p {
                  font-size: 1rem;
                }
              }
            }
            .bio {
              p {
                font-size: 1.18rem;
              }
            }
            .otherDetails {
              gap: 1rem;
              grid-template-columns: repeat(3, 1fr);
            }
          }
        }
      }
      footer {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
